version: 2
updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: daily
      time: "06:00"
      timezone: America/Los_Angeles
    commit-message:
      prefix: "deps:"
    labels:
      - dependencies
    open-pull-requests-limit: 10
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch
      major:
        update-types:
          - major

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: "06:00"
      timezone: America/Los_Angeles
    commit-message:
      prefix: "deps(actions):"
    labels:
      - dependencies
    open-pull-requests-limit: 5
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch
      major:
        update-types:
          - major
